@import url('https://use.typekit.net/oom8olm.css');
section.form {
    padding-top: 10em;
    padding-bottom: 10em;
    width: 80vw;
    margin: auto;
}

#form-header {
    font-family: 'neue-haas-grotesk-text', arial, sans-serif !important;
    font-weight: 900;
}
