@import url('https://use.typekit.net/oom8olm.css');

body {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0 auto;
}
.topnav {
    right: 0.8em;
    padding: 20px 2em;
    position: absolute;
    z-index: 10;
}

.topnavlink {
    padding: 20px 0 20px 40px;
    font-family: 'neue-haas-grotesk-text', arial, sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #69f0afa2;
}

.topnavlink:hover {
    color: #212529;
}

.topnavlink:active {
    color: #212529;
}

/* .hometopnavlink {
    padding: 20px 1em 20px 40px;
    font-family: 'neue-haas-grotesk-text', arial, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #69f0af;
} */

/* .hometopnav {
    left: 0em;
    padding: 20px 1em;
    position: absolute;
    z-index: 10;
} */

.landing-page {
    padding-top: 2.4em;
}

.hero {
    margin-left: 2em;
    padding: 0 2em;
    padding-top: 2em;
    text-align: left;
}

.hero-hello {
    margin: 0;
    padding-top: 1em;
    display: block;
    text-align: left;
}

.hero-name {
    font-size: 14vw;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 900;
    padding: 0.2em 0 0.6em;
    letter-spacing: 1.5px;
    margin: 0;
}

.hero-subtext {
    text-align: left;
    display: block;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 20px;
    padding-bottom: 1em;
}

.fa-caret-down {
    color: #212529;
    z-index: 100;
}

#pink-duotone-photo {
    right: 10px;
    position: absolute;
    width: 14em;
    padding: 0em;
    z-index: -10;
}

.project1 {
    padding: 10em;
    background-color: grey;
}

.project2 {
    padding: 10em;
    background-color: darkgrey;
}

.project3 {
    padding: 10em;
    background-color: lightslategray;
}

.footer p {
    text-align: left;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0.8em 0.6em;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 1px;
}

@media (max-width: 540px) {
    .footer p {
        font-size: 0.8em;
    }
    #pink-duotone-photo {
        right: 10px;
        position: absolute;
        width: 14em;
        padding: 0em;
        z-index: -10;
    }
    .hero {
        margin-left: 0em;
        padding: 2em;
        text-align: left;
    }

    .topnav {
        display: none;
    }

    i {
        display: none;
    }
}
@media (min-width: 540px) {
    p {
        font-size: 1.2em;
    }
    #pink-duotone-photo {
        width: 16em;
        margin-right: 1.8em;
    }

    .hero-name {
        font-size: 16vw;
    }
}

@media (min-width: 730px) {
    .landing-page {
        height: 100vh;
    }

    p {
        font-size: 1.6em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            'main side1'
            'main side2';
        align-items: stretch;
    }

    .hero-subtext {
        max-width: 70%;
    }

    .hero-name {
        font-size: 12vw;
    }

    .project1 {
        grid-area: main;
    }

    #pink-duotone-photo {
        right: 20px;
        position: absolute;
        width: 24em;
        padding: 1.5em;
        padding-top: 0;
        padding-right: 0em;
        margin-right: 1em;
        z-index: -10;
    }
}

@media (min-width: 900px) {
    #pink-duotone-photo {
        width: 28em;
        padding-right: 0em;
        margin-right: 1em;
    }
}

@media (min-width: 1020px) {
    .media-break {
        display: none;
    }

    .hero-name {
        padding-top: 0.3em;
        font-size: 8vw;
    }

    #pink-duotone-photo {
        width: 31em;
        padding-right: 0em;
        margin-right: 2em;
    }
    .hero-subtext {
        max-width: 55%;
        margin-bottom: 2em;
    }
}

@media (min-width: 1400px) {
    .media-break {
        display: none;
    }

    .hero-name {
        font-size: 8vw;
    }

    #pink-duotone-photo {
        width: 34em;
    }
    .hero-subtext {
        max-width: 65%;
    }
}

@media (min-width: 1800px) {
    #pink-duotone-photo {
        width: 30em;
        padding-right: 0em;
        margin-right: 14em;
    }
}
